@model List<TeknikServis.DTO.UrunDto>

<h3>Yeni Ürün Ekle</h3>

<form asp-controller="Urun" asp-action="Ekle" method="post">
    <div class="form-group">
        <label>Ad</label>
        <input name="Ad" class="form-control" />
    </div>
    <div class="form-group">
        <label>Kategori</label>
        <select name="Kategorisi" class="form-control">
            @foreach (var kategori in Enum.GetValues(typeof(TeknikServis.DTO.Kategori)))
            {
                <option value="@kategori">@kategori</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <textarea name="Aciklama" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="MinServisUcreti">Minimum Servis Ücreti</label>
        <input type="number" name="MinServisUcreti" class="form-control" />
    </div>

    <div class="form-group">
        <label for="MaxServisUcreti">Maksimum Servis Ücreti</label>
        <input type="number" name="MaxServisUcreti" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Ekle</button>
</form>

<hr />

<h2>Ürün Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Kategori</th>
            <th>Açıklama</th>
 
            <th>Minimum Ücret</th>
            <th>Maximum Ücret</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.Ad</td>
                <td>@urun.Kategorisi</td>
                <td>@urun.Aciklama</td>

                <td>@urun.MinServisUcreti</td>
                <td>@urun.MaxServisUcreti</td>
                <td>
                    <form asp-controller="Urun" asp-action="Sil" method="post">
                        <input type="hidden" name="id" value="@urun.Id" />
                        <button class="btn btn-danger btn-sm">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



