@model List<TeknikServis.DTO.ServisTalebiDto>


@{
    ViewData["Title"] = "Taleplerim";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class ="mb-4 text-center text-success">Servis Taleplerim</h2>
    <a class="btn btn-success btn-sm rounded shadow px-3" asp-controller="ServisTalebi" asp-action="YeniTalep">Servis Talebi Oluştur</a>
</div>

@if (Model != null && Model.Count > 0)
{
    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead class="table-dark">
            <tr>
                <th>Ürün Adı</th>
                <th>Açıklama</th>
                <th>Talep Durumu</th>
                <th>Talep Tarihi</th>
                <th>Detay</th>
                <th>Sil</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var talep in Model)
            {
               
                <tr>
                    <td>@talep.Urun.Ad</td>
                    <td>@talep.Aciklama</td>
                    <td>@talep.TalepDurumu</td>
                    <td>@talep.TalepTarihi?.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>
                        <a class="btn btn-primary" asp-action="TalepDetay" asp-route-id="@talep.Id">Detay</a>
                    </td>
                    <td>
                        <form asp-controller="ServisTalebi" asp-action="Sil" method="post">
                            <input type="hidden" name="id" value="@talep.Id" />
                            <button type="submit" class="btn btn-danger btn-sm rounded shadow-sm px-3">Sil</button>
                        </form>
                    </td>

                </tr>
              
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">Henüz bir servis talebiniz bulunmamaktadır.</div>
}
<!-- SignalR client kütüphanesi -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>


<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("https://localhost:44365/hub/notification", {
            withCredentials: true
        })
        .build();

    connection.on("YeniTalep", function (message) {

       if(message === "YeniTalepEklendi"){
            location.reload();
       }
    });

    connection.start().catch(function (err) {
        console.error("SignalR bağlantı hatası:", err);
    });
</script>

<div id="talepListesi"></div>