@model TeknikServis.DTO.ServisTalebiDto

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>ServisTalebi</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urun.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urun.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TalepDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TalepDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TalepTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TalepTarihi)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Urun.MinServisUcreti)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Urun.MinServisUcreti)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Urun.MaxServisUcreti)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Urun.MaxServisUcreti)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TalepResimleri)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.TalepResimleri != null && Model.TalepResimleri.Count > 0)
            {
                foreach (string resim in Model.TalepResimleri)
                {
                    if (resim != null && resim != "") {
                        <div class="preview-container">
                            <img class="thumbnail" style="width:100px;height:80px" src="~/img/talep_resim/@resim" />

                        <div class="preview">
                            <img class="thumbnail" style="width:500px;height:450px" src="~/img/talep_resim/@resim" />

                        </div>
                    </div>
                    }
                    else
                    {
                        <p>Resim yüklenmemiş.</p>
                    }
                }
            }
            else
            {
                <p>Resim yüklenmemiş.</p>
            }
        </dd>
    </dl>
</div>
<div>

    <a asp-action="KendiTaleplerim">Geri Dön</a>
</div>

<style>
    .thumbnail {
        width: 150px;
        cursor: pointer;
    }

    .preview-container {
        position: relative;
        display: inline-block;
    }

    .preview {
        display: none;
        position: absolute;
        top: 0;
        left: 60px; /* küçük resmin sağında göster */
        border: 1px solid #ccc;
        background: white;
        z-index: 999;
        padding: 5px;
    }

        .preview img {
            width: 500px;
            height: auto;
        }

    .preview-container:hover .preview {
        display: block;

    }

</style>
